/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-family: 'Old English', serif;
}

h1 {
    color: #032738; /* Color principal */
}

.card {
    margin-bottom: 20px;
}
