body {
    font-family: 'Crimson Text', serif;
    background-color: #ECE4D7;
}

.navbar-brand {
    font-family: 'Old English', serif;
}

.jumbotron {
    background-color: #032738;
}

.card {
    border-color: #BB4734;
}

h2 {
    color: #227596;
}
